@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #e61919;
  --progress1: 0deg;
  --progress2: 0deg;
  --progress3: 0deg;
  --progress4: 0deg;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --red: #e61919;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.progress-bar {
  position: relative;
  background: conic-gradient(var(--red) var(--progress1), var(--background) 0deg);
}

.progress-bar-2 {
  position: relative;
  background: conic-gradient(var(--red) var(--progress2), var(--background) 0deg);
}

.progress-bar-3 {
  position: relative;
  background: conic-gradient(var(--red) var(--progress3), var(--background) 0deg);
}

.progress-bar-4 {
  position: relative;
  background: conic-gradient(var(--red) var(--progress4), var(--background) 0deg);
}